POSTGRES_DB=zabbix
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbixpass
ZABBIX_DB_PASSWORD=zabbixpass
MARIADB_ROOT_PASSWORD=rootpass
MARIADB_DATABASE=proyecto7
MARIADB_USER=app
MARIADB_PASSWORD=apppass
FTP_USER=demo
FTP_PASS=demo123
TZ=America/Bogota
ZABBIX_WEB_PORT=8088
